# --- Globalne ustawienia pomocnicze (opcjonalnie) ---
global:
  rbac:
    create: true

# --- Grafana ---
grafana:
  enabled: true

  
  adminUser: admin
  adminPassword: "admin"

  persistence:
    enabled: true
    type: pvc
    storageClassName: standard
    accessModes:
      - ReadWriteOnce
    size: 5Gi

  ingress:
    enabled: true
    ingressClassName: nginx
    hosts:
      - grafana.local
    path: /
    pathType: Prefix

  initChownData:
    enabled: false

  securityContext:
    fsGroup: 472
    fsGroupChangePolicy: "OnRootMismatch"

  containerSecurityContext:
    runAsUser: 472
    runAsGroup: 472
    runAsNonRoot: true

  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 512Mi
  
  sidecar:
    dashboards:
      enabled: true
    datasources:
      enabled: true

# --- Prometheus ---
prometheus:
  enabled: true
  prometheusSpec:
    retention: 7d
    retentionSize: "4GB"

    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: standard
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 10Gi
  ingress:
    enabled: true
    ingressClassName: nginx
    hosts:
      - prometheus.local
    paths:
      - /
    pathType: Prefix


# --- Alertmanager ---
alertmanager:
  enabled: true
  alertmanagerSpec:
    storage:
      volumeClaimTemplate:
        spec:
          storageClassName: standard
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 2Gi
  ingress:
    enabled: true
    ingressClassName: nginx
    hosts:
      - alertmanager.local
    paths:
      - /
    pathType: Prefix  


kubeStateMetrics:
  enabled: true

nodeExporter:
  enabled: true