name: CI

on:
  pull_request:
  push:
    branches: [ main ]

permissions:
  contents: read

jobs:
  lint-and-validate:
    name: Lint and validate (YAML, Helm, scripts)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # -------------------------
      # YAML lint (GitOps + charts)
      # -------------------------
      - name: Install yamllint
        run: |
          python3 -m pip install --upgrade pip
          pip install yamllint

      - name: Run yamllint
        run: |
          yamllint -f parsable gitops charts

      # -------------------------
      # Shell scripts lint
      # -------------------------
      - name: Install shellcheck
        run: sudo apt-get update && sudo apt-get install -y shellcheck

      - name: Run shellcheck
        run: shellcheck scripts/*.sh
        

      # -------------------------
      # Helm lint + template
      # -------------------------
      - name: Set up Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.15.4

      - name: Helm lint (echo chart)
        run: helm lint charts/echo

      - name: Helm template (echo chart with dev values)
        run: |
          helm template echo charts/echo \
            -f gitops/clusters/dev/values/echo-values.yaml \
            --namespace demo > /tmp/echo-rendered.yaml

      # -------------------------
      # Kubernetes schema validation
      # -------------------------
      - name: Install kubeconform
        run: |
          curl -sSL -o kubeconform.tar.gz \
            https://github.com/yannh/kubeconform/releases/download/v0.6.7/kubeconform-linux-amd64.tar.gz
          tar -xzf kubeconform.tar.gz kubeconform
          sudo mv kubeconform /usr/local/bin/kubeconform

      - name: Validate rendered manifests with kubeconform
        run: |
          kubeconform \
            -strict \
            -ignore-missing-schemas \
            -summary \
            /tmp/echo-rendered.yaml